
.counter{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.counter div{
    color: black;
    font-size: 150px;
    padding-left: 5px;
    padding-right: 5px;
}
